<a href="https://colab.research.google.com/github/yoosufcancode/machinelearningCW/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Loading the dataset
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
# Setting the path to the dataset file
train_data_path = '/content/drive/My Drive/ML_CW_DATASET/adult.data'

metadata1_path = '/content/drive/My Drive/ML_CW_DATASET/adult.names'

test_data_path = '/content/drive/My Drive/ML_CW_DATASET/adult.test'

index_path = '/content/drive/My Drive/ML_CW_DATASET/index'

metadata2_path = '/content/drive/My Drive/ML_CW_DATASET/old.adult.names'

In [3]:
# Importing necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [4]:
# column names from 'adult.names' file
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num',
    'marital_status', 'occupation', 'relationship', 'race', 'sex',
    'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
    'income'
]

# Loading the data
df = pd.read_csv(train_data_path, header=None, names=column_names)

# Checking the first few rows to ensure it's loaded correctly
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# Identifying categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# filling missing values with the mode for each categorical column
for column in categorical_columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

In [6]:
import numpy as np

# Replacing the placeholders like '?' with NaN for missing values
df.replace('?', np.NaN, inplace=True)

# Checking again for missing values
missing_values = df.isnull().sum()

# Choosing a strategy to handle missing values, for example:
# df.dropna(inplace=True) - This will drop all rows with any NaN values
# or Fill missing values with mode for categorical columns
for column in categorical_columns:
    df[column].fillna(df[column].mode()[0], inplace=True)

# encoding the categorical variables
from sklearn.preprocessing import OneHotEncoder

# Initializing the OneHotEncoder
encoder = OneHotEncoder(sparse=False, drop='first')

# Selecting categorical columns and fit the encoder
categorical_columns = df.select_dtypes(include=['object']).columns
encoded_data = encoder.fit_transform(df[categorical_columns])

# Creating a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_columns))

# Dropping original categorical columns and concatenate the encoded ones
df = df.drop(categorical_columns, axis=1)
df = pd.concat([df, encoded_df], axis=1)

# df is ready for splitting into train and test sets and then for model training

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
print(df.columns)

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       ...
       'native_country_ Puerto-Rico', 'native_country_ Scotland',
       'native_country_ South', 'native_country_ Taiwan',
       'native_country_ Thailand', 'native_country_ Trinadad&Tobago',
       'native_country_ United-States', 'native_country_ Vietnam',
       'native_country_ Yugoslavia', 'income_ >50K'],
      dtype='object', length=101)

In [8]:
# Splitting the data into features and target
X = df.drop('income_ >50K', axis=1)  # Make sure to use the correct column name
y = df['income_ >50K']

In [11]:
# Making sure both training and testing sets have the same columns after encoding
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='inner', axis=1)

In [10]:
from sklearn.model_selection import train_test_split

# Splitting the data into features and target
X = df.drop('income_ >50K', axis=1)  # Assuming 'income' is the target variable
y = df['income_ >50K']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Applying One-Hot Encoding to the categorical variables in the feature set
X_train_encoded = pd.get_dummies(X_train)
X_test_encoded = pd.get_dummies(X_test)


# Making sure both training and testing sets have the same columns after encoding
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='inner', axis=1)

# Now, X_train_encoded and X_test_encoded are ready for model training and evaluation

In [12]:
from sklearn.naive_bayes import GaussianNB

# Initialize the Naïve Bayes model
nb_classifier = GaussianNB()

# Train the model
nb_classifier.fit(X_train_encoded, y_train)

# Make predictions on the test set
nb_predictions = nb_classifier.predict(X_test_encoded)

In [13]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest model
rf_classifier = RandomForestClassifier(random_state=42)

# Train the model
rf_classifier.fit(X_train_encoded, y_train)

# Make predictions on the test set
rf_predictions = rf_classifier.predict(X_test_encoded)

In [14]:
from sklearn.metrics import accuracy_score, classification_report

# Evaluate Naïve Bayes
nb_accuracy = accuracy_score(y_test, nb_predictions)
print("Naïve Bayes Accuracy:", nb_accuracy)
print(classification_report(y_test, nb_predictions))

# Evaluate Random Forest
rf_accuracy = accuracy_score(y_test, rf_predictions)
print("Random Forest Accuracy:", rf_accuracy)
print(classification_report(y_test, rf_predictions))

Naïve Bayes Accuracy: 0.7990173499155535
              precision    recall  f1-score   support

         0.0       0.81      0.95      0.88      4942
         1.0       0.68      0.32      0.43      1571

    accuracy                           0.80      6513
   macro avg       0.75      0.64      0.66      6513
weighted avg       0.78      0.80      0.77      6513

Random Forest Accuracy: 0.8582834331337326
              precision    recall  f1-score   support

         0.0       0.89      0.93      0.91      4942
         1.0       0.74      0.63      0.68      1571

    accuracy                           0.86      6513
   macro avg       0.82      0.78      0.80      6513
weighted avg       0.85      0.86      0.85      6513